body{
    background-color: wheat;
    color:black;
}
#clock{
    text-align: center;
    width: 50%;
    position:absolute;
    top: 30%;
    left: 25%;
    
}
#clock h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.clock-container{
   
    display: flex;
    flex-direction: row;
    justify-content:normal ;
    align-items: center;
    align-content: center;
}

.clock-items{
    width: 32%;
    background-color: #a2b9bc;
    color: black;
    border-radius: 10px;
    margin-right: 3%;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}